POSTGRES_DB=freshbot
POSTGRES_USER=freshbot
POSTGRES_PASSWORD=freshbot
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
WORKER_POLL_INTERVAL=5
FRESHBOT_TRANSCRIPTION_PROVIDER=openai
FRESHBOT_TRANSCRIPTION_OPENAI_API_KEY=
FRESHBOT_PACKAGE_PHOTO_EXTRACTOR=disabled
FRESHBOT_PACKAGE_PHOTO_OPENAI_API_KEY=
