.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    display: block;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #333;
    color: #fff;
}

.delete-form button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}